.cards {
    /* background: linear-gradient(90deg, rgba(220, 139, 249, 0.434) 15%, rgba(85, 193, 252, 0.574) 100%); */
    display: flex;
    flex-wrap: wrap;
    width: 1500px;
    /* height: 780px; */
    justify-content: center;
    align-items: center;
};
