.divCard {
padding: 20px;
text-decoration: none;
}
.card {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(109, 109, 109, 0.845);
    
    
    border: 3px solid #000;
    background: rgba(131, 131, 131, 0.219);
    border-image-source: linear-gradient(to left, rgba(248, 251, 78, 0.709), rgba(143, 89, 1, 0.766));
    border-image-slice: 20;
    float: left;
    color: rgba(40, 9, 112, 0.856);
}
.card img {
    height:85px;
    width: 150px;
}
.card h3 {
    font-size: medium;
    font-family: Comic Sans MS;
    background-color: rgba(218, 218, 218, 0.336);
    border-radius: 6px;
    padding: 1px;
}

.card h2 {
    font-size: 20px;
    color: rgba(40, 9, 112, 0.856);
    background-color: rgba(218, 218, 218, 0.336);
    border-radius: 6px;
    padding: 4px;
    font-family: Comic Sans MS;
    text-decoration: none;
}