.btn {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 34vh;
    height: 5vh;
    background-color: #141414;
    color: #fff;
    font-size: 2vh;
    cursor: pointer;
    border: none;
    transition: .9s ease all;
    border-radius: 4px;
}
.btn.btn1 svg{
    color: #fff;
    width: 35px;
    height: 35px;
}

.btn:hover {
    background-color: rgb(91, 91, 91);
}
.btn.btn1 span{
position: relative; 
transition: .4s ease-in-out all;

}
.btn.btn1:hover {
    background-color: #2f9b05;
}
.btn.btn1 .icon {
   color: #141414; 
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   left: -40px;
   width: 35px;
   height: 35px;
    transition: 1s ease-in-out all;
    opacity: 0;
   bottom: .6vh;
}
.btn.btn1:hover span {
    z-index: 2;
    left: -30%;
    transition: .5s;
}
.btn.btn1:hover .icon{
    left: calc(100% - 85%);
    opacity: 1;
}
.btnContainer {
    position: relative;
    top: 25vh;
    left: 40%;
}

.h2{
    position: relative;
    top: 65%;
    left: 2%;
}
.title{
    background: linear-gradient(90deg,  rgb(168, 168, 168) 10%, #f8f8f800 70%);
    position: relative;
    top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
